.tag:hover {
    background-color: #938cf2;
}

.tag:disabled {
    background-color: #004080;
}

.tagActive {
    background-color: #a316fba2;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px;
}


.tag {
    --dynamic-color: #3221f5c2;
    padding: 5px 20px;
    background-color: var(--dynamic-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px;
}